.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.Align-center{
  text-align: center;
}
.card-3{
  width: 30%;
  display: inline-block;
  margin-bottom: 30px;
}